@import url("https://fonts.googleapis.com/css?family=Josefin+Sans");

body {
  background-color: rgb(3, 81, 3);
  color: black;
  font-family: "Josefin Sans";
}

@media (orientation: portrait) {
  .container {
    transform: rotate(-90deg);
    margin-top: 30vmax;
  }
}

.cardContainer {
  margin: 0;
  display: grid;
  gap: 0.5vmax;
  grid-template-columns: repeat(13, 1fr);
}



.startButton {
  font-weight: bold;
  animation: bouncy 5s infinite linear;
  position: fixed;
  background-color: transparent;
  top: 50%;
  left: 50%;
  font-size: 8vmax;
  width: 58vmax;
  height: 10vmax;
  margin-top: -5vmax;
  margin-left: -28vmax;
  opacity: 0.8;
  border-color: transparent;
  color: red;
  font-family: "Josefin Sans";
}

.startButton:hover {
  transform: scale(1.03);
  animation-play-state: paused;
}

.winnerButton {
  font-weight: bold;
  animation: bouncy 5s infinite linear;
  position: fixed;
  background-color: transparent;
  top: 50%;
  left: 50%;
  font-size: 8vmax;
  border-radius: 5vmax;
  border-color: transparent;
  width: 96vmax;
  height: 10vmax;
  margin-top: -5vmax;
  margin-left: -48vmax;
  font-family: "Josefin Sans";
  opacity: 0.8;
  color: red;
}
@keyframes bouncy {
  0% {
    top: 50%;
  }
  40% {
    top: 50%;
  }
  43% {
    top: 46%;
  }
  46% {
    top: 50%;
  }
  48% {
    top: 48%;
  }
  50% {
    top: 50%;
    color: black;
  }
  100% {
    top: 50%;
  }
}

.winnerButton:hover {
  animation-play-state: paused;
  transform: scale(1.03);
}

.turns {
  color: rgb(201, 223, 201);
  font-size: 3vmax;
  margin-top: 0vmax;
  margin-bottom: 0vmax;
  margin-left: 0vmax;
}
